__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc
*.pyo
*.pyd
.DS_Store

.env
frontend/.env
frontend/node_modules/
frontend/dist/
data/processed/*
!data/processed/.gitkeep
data/vector_store/*
!data/vector_store/.gitkeep
